* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 60%;
    max-height: 400px;
    width: 100%;
    background-image: url('../content.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(9px);
    z-index: -1;
}

header {
    overflow: hidden;
    margin-top: 15px;
}

.back {
    float: left;
    margin-left: 10px;
    margin-top: -5px;
    font-size: 25px;
    color: #9c9b9b;
}

.fa-search {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 15px;
    color: #9c9b9b;
}

header input {
    float: right;
    margin-right: 6px;
    border: none;
    padding-bottom: 3px;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid grey;
}

.info {
    margin-top: 10%;
    text-align: center;
}

.info p:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
}

.info p:nth-child(2) {
    font-size: 13px;
}

.star-wrapper {
    margin-top: 10px;
}

.info img {
    margin-top: 30px;
    width: 210px;
    height: 320px;
}

.main {
    width: 90%;
    margin: 8% auto;
}

.main p:nth-child(1) {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.main p:nth-child(2) {
    text-align: center;
}

.main p:nth-child(3) {
    margin-top: 50px;
}

.buy-and-cart {
    overflow: hidden;
    width: 90%;
    margin: 10% auto;
}

.buy {
    float: left;
    width: 40%;
    padding: 8px 0;
    background-color: #2b9dff;
    color: white;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
}

.cart {
    float: right;
    width: 40%;
    padding: 8px 0;
    background-color: black;
    color: white;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
}

@media screen and (min-width: 650px) {
    .back {
        margin-left: 4vw;
        font-size: 3vw;
    }
    header input {
        width: 25%;
        font-size: 1.3vw;
        margin-right: 1vw;
    }
    #fa-search {
        font-size: 1.4vw;
        margin-right: 4vw;
    }
    .info {
        margin-top: 5vw;
        display: inline-block;
        text-align: center;
        padding-left: 10vw;
    }
    .buy-and-cart {
        position: absolute;
        top: 450px;
        left: 50vw;
        width: 20vw;
    }
    .buy {
        width: 30%;
    }
    .cart {
        width: 30%;
    }

}