* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    position: relative;
    background-color: #fcfcfb;
}

.b {
    width: 20%;
    height: 38px;
    background-image: url('../writing.jpeg');
    background-size: cover;
    float: left;
    margin-top: 70px;
}

.info {
    display: none;
    position: fixed;
    top: 0;
    bottom: 40px;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 3;
    padding-top: 15px;
}

.info .close {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 27px;
}

.info p {
    color: #33332f;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.info ul {
    margin-top: 10px;
    list-style-type: none;
}

.info ul li {
    padding: 7px 12px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

#white {
    background-color: white;
    color: black;
}

#titleBookmarks {
    margin-top: 25px;
}

.bookmarks-wrapper {
    margin-top: 10px;
    border: 1px solid white;
    overflow: auto;
    width: 70vw;
    /* max-height: 225px; */
    margin: auto;
    /* overflow: auto; */
    word-wrap: break-word;
}

.bookmarks-card {
    margin: 5px 0;
}

.bookmarks-card a {
    text-decoration: none;
}

p.bookmarks-title {
    color: #a0a09d;
    font-size: 9px;
}

p.bookmarks-author {
    color: #5c5c57;
    font-size: 7.5px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    border: 1px solid black;
    background-color: lightblue;
    text-align: center;
    z-index: 2;
}

header p {
    font-size: 24px;
    color: white;
    margin-top: 1%;
    margin-left: 2%;
}

i {
    cursor: pointer;
    color: white;
}

i.list {
    display: none;
}

i.grid {
    display: none;
}

header input {
    display: block;
    width: 65%;
    margin: auto;
    border: none;
    border-bottom: 1px solid #e1e7e5;
    background-color: lightblue;
    font-size: 17px;
    color: white;
    text-align: center;
    margin-top: -4px;
}

i.fa-search {
    position: absolute;
    top: 40px;
    left: 84%;
    font-size: 17px;
    color: #e1e7e5;
}

.search-output {
    display: none;
    position: fixed;
    top: 70px;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 65%;
    z-index: 3;
    background-color: white;
    padding: 10px;
    overflow: auto;
}

.search-output-card {
    overflow: hidden;
    margin-bottom: 5px;
}

.search-output-card img {
    float: left;
    width: 30px;
    height: 50px;
}

.search-output-card div {
    float: right;
    width: 70%;
}

.search-output-card p {
    color: black;
    font-size: 10px;
    text-align: right;
}

.container {
    width: 100%;
    margin-top: 108px;
    padding-top: 30px;
    border: 1px solid black;
    overflow: hidden;
}

div.book-card-grid {
    /* width: 40vw; */
    /* max-width: 190px; */
    width: 190px;
    /* height: 70vw; */
    /* max-height: 340px; */
    height: 340px;
    margin: auto;
    margin-bottom: 25px;
    position: relative;
}

.book-card-grid img {
    display: block;
    width: 100%;
    height: 82%;
}

.book-card-grid a {
    text-decoration: none;
}

.book-title-grid {
    color: rgb(66, 182, 221);
    font-weight: bold;
    word-wrap: break-word;
    font-size: 16px;
    text-align: center;
}

.book-author-grid {
    margin-top: -2%;
    margin-left: 6%;
    font-size: 12px;
    color: #7c817f;
    word-wrap: break-word;
    text-align: center;
}

.book-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 94%;
    color: white;
    background-color: black;
    opacity: 0.9;
    padding: 17px;
}

.bookmark-icon-wrapper {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

.bookmark-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.book-info-title {
    text-decoration: none;
    font-weight: bold;
    color: #e9c95a;
    text-transform: uppercase;
    font-size: 12px;
}

.book-info-author {
    color: #4c5b6c;
    font-size: 12px;
}

.book-info-summary {
    font-size: 12px;
    text-transform: uppercase;
    color: #4d5561;
    margin-top: 6%;
}

.book-info-description {
    font-size: 12px;
}

.book-info-rating {
    font-size: 12px;
    text-transform: uppercase;
    color: #4c5b6c;
    margin-top: 6%;
}

.star-wrapper i:nth-of-type(1),
.star-wrapper i:nth-of-type(2),
.star-wrapper i:nth-of-type(3) {
    color: yellow;
    cursor: none;
}

.star-wrapper i:nth-of-type(4),
.start-wrapper i:nth-of-type(5) {
    cursor: none;
}

.price-wrapper {
    width: inherit;
    padding: 1.2%;
    overflow: hidden;
}

.book-price-grid {
    float: left;
    font-size: 18px;
}

.book-cart-grid {
    float: right;
    font-size: 18px;
    margin-top: -1%;
    margin-right: 4%;
}

.book-cart-grid i {
    color: black;
    font-size: 21px;
}

.book-card-list {
    width: 100%;
    height: 13vw;
    clear: both;
    overflow: hidden;
    margin-bottom: 6vw;
}

.book-card-list img {
    height: 100%;
    width: 15%;
    float: left;
}

.book-card-list a {
    text-decoration: none;
}

.book-title-list,
.book-author-list,
.book-description-list {
    float: left;
    width: 85%;
    text-align: center;
}

.book-title-list {
    font-weight: bold;
    font-size: 1.3vw;
    color: rgb(66, 182, 221);
}

.book-author-list {
    color: rgb(66, 182, 221);
    font-size: 1vw;
    color: #7c817f;
}

.book-description-list {
    font-size: 1vw;
    margin-top: 4.2vw;
    word-wrap: break-word;
}

.last-viewed {
    width: 80%;
    height: 38px;
    background-color: #5c5c5a;
    padding-left: 1.5%;
    float: left;
    margin-top: 70px;
}

.last-viewed p {
    color: #80807e;
    font-size: 13px;
    /* position: absolute;
    top: 10%; */
}

.last-viewed a {
    display: block;
    margin-left: 1.8%;
    margin-top: -1%;
    color: #cecec3;
    font-size: 17px;
    text-decoration: none;
    word-wrap: break-word;
    text-align: center;
    /* margin-top: 2.5%; */
    /* padding-left: 3%; */
    /* display: block; */
}

.last-viewed a i {
    font-size: 17px;
    color: #cecec3;
}

.cart-and-login {
    display: none;
    position: fixed;
    top: 22%;
    left: 79%;
    width: 21%;
    height: 4%;
    background-color: #484843;
}

.cart {
    position: absolute;
    top: 50%;
    left: 3vw;
    transform: translate(0, -50%);
    padding: 0.1vw 0.6vw;
    background-color: #bdbdb5;
    border-radius: 5px;
    cursor: pointer;
    width: 5vw;
    height: 2.2vw;
}

.cart p {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.cart img {
    position: absolute;
    right: 0.3vw;
    top: 50%;
    transform: translate(0, -50%);
    width: 1.2vw;
    height: 1.5vw;
    margin-left: 1%;
}

.login {
    position: absolute;
    top: 50%;
    left: 13vw;
    transform: translate(0, -50%);
    background-color: #bdbdb5;
    border-radius: 5px;
    cursor: pointer;
    width: 5vw;
    height: 2.2vw;
}

.login p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    color: white;
    font-weight: bold;
}

.comments {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    padding-top: 10px;
    background-color: #ddddda;
    z-index: 3;
}

.comments .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 27px;
}

.discussion {
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d0;
    color: #a6a6a3;
    margin-left: 10px;
    font-size: 15px;
}

.display-comments {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    bottom: 70px;
    overflow: auto;
}

.comment-card {
    margin-bottom: 5px;
}

.comment-card img {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
}

.comment-card p {
    margin-top: 5px;
    word-wrap: break-word;
    line-height: 14px;
    font-size: 13px;
    text-align: center;
}

.leaving-comments {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5c5c5a;
    padding: 5px;
}

.leaving-comments img {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
}

.leaving-comments input {
    display: block;
    border: none;
    border-bottom: 1px solid #797977;
    background-color: #5c5c5a;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 80%;
    margin: 5px auto;
}

.send-comment {
    position: absolute;
    top: 40px;
    left: 92%;
    font-size: 19px;
    cursor: pointer;
}

.login-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    background-color: black;
    color: white;
    padding: 20px;
    z-index: 3;
}

.login-wrapper .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 27px;
}

.login-wrapper p {
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

.login-wrapper [type="text"],
.login-wrapper [type="password"] {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

label {
    float: left;
    margin-top: 40px;
    font-size: 14px;
    font-style: normal;
}

.login-wrapper div {
    float: right;
    margin-top: 40px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.mobile-icons {
    position: fixed;
    bottom: 5px;
    left: 50%;
    width: 165px;
    transform: translate(-50%, 0);
    overflow: hidden;
    border: 1px solid black;
}

.home-icon,
.login-icon,
.cart-icon,
.comments-icon {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    float: left;
}

.home-icon i,
.login-icon i,
.cart-icon i,
.comments-icon i {
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.cart-wrapper-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    background-color: white;
    z-index: 3;
    padding: 15px;
}

.no-of-books {
    float: left;
    font-weight: bold;
}

.total {
    float: right;
    font-weight: bold;
    margin-right: 40px;
}

.cart-wrapper-mobile .close {
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 27px;
    color: black;
}

.cart-card {
    clear: both;
    height: 80px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.cart-card img {
    float: left;
    width: 50px;
    height: 80px;
}

.cart-card>p {
    float: left;
    margin-left: 15px;
    font-weight: bold;
}

.cart-card div {
    float: right;
    text-align: center;
    margin-right: 40px;
    position: relative;
}

.cart-card div p:nth-child(1) {
    margin-top: 15px;
    margin-bottom: 5px;
}

.cart-card .close {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translate(0, -50%);
    font-size: 17px;
    color: black;
}

.block {
    display: block;
}

@media screen and (min-width: 40px) and (max-width: 380px) {
    .last-viewed a {
        font-size: 12px;
    }
    .last-viewed a i {
        font-size: 12px;
    }
}

@media screen and (min-width: 583px) {
    .container {
        padding-top: 60px;
    }
    header {
        height: 90px;
    }
    header p {
        font-size: 25px;
    }
    header input {
        margin-top: 8px;
        font-size: 19px;
    }
    i.fa-search {
        top: 60px;
        font-size: 20px;
    }
    .b {
        height: 50px;
        margin-top: 90px
    }
    .last-viewed {
        height: 50px;
        margin-top: 90px;
    }
    .last-viewed p {
        font-size: 16px;
    }
    .last-viewed a,
    .last-viewed a i {
        font-size: 20px;
    }
    div.book-card-grid:nth-child(2n - 1) {
        float: left;
        width: 240px;
        height: 400px;
        margin-left: 25px;
        margin-right: 25px;
    }
    div.book-card-grid:nth-child(2n) {
        float: right;
        width: 240px;
        height: 400px;
        margin-right: 25px;
        margin-left: 25px;
    }
    .book-title-grid {
        font-size: 20px;
    }
    .book-author-grid {
        font-size: 16px;
    }
    .book-card-info {
        height: 94%;
    }
    .book-info-title {
        font-size: 15px;
    }
    .book-info-author {
        font-size: 15px;
    }
    .book-info-summary {
        font-size: 15px;
    }
    .book-info-description {
        font-size: 15px;
    }
    .book-info-rating {
        font-size: 15px;
    }
    .book-price-grid {
        font-size: 21px;
    }
    .book-cart-grid,
    .book-cart-grid i {
        font-size: 25px;
    }
    .bookmark-icon-wrapper {
        width: 40px;
        height: 40px;
    }
    .bookmark-icon {
        font-size: 25px;
    }
    .mobile-icons {
        width: 300px;
    }
    .home-icon,
    .login-icon,
    .cart-icon,
    .comments-icon {
        margin-left: 20px;
        width: 40px;
        height: 40px;
    }
    .home-icon i,
    .login-icon i,
    .cart-icon i,
    .comments-icon i {
        font-size: 26px;
    }
    .info {
        bottom: 50px;
    }
    .info>p {
        margin-top: 100px;
        font-size: 18px;
    }
    .info ul li {
        font-size: 23px;
    }
    p.bookmarks-title {
        font-size: 14px;
    }
    p.bookmarks-author {
        font-size: 12px;
    }
    .login-wrapper {
        bottom: 50px;
    }
    .login-wrapper p {
        margin-top: 100px;
        font-size: 25px;
    }
    .login-wrapper [type="text"],
    [type="password"] {
        padding: 7px;
        font-size: 19px;
    }
    label {
        font-size: 19px;
    }
    label input {
        padding: 6px;
    }
    .login-wrapper div {
        padding: 10px 15px;
        font-size: 18px;
    }
    .cart-wrapper-mobile {
        bottom: 50px;
    }
    .no-of-books {
        margin-top: 50px;
        font-size: 23px;
    }
    .total {
        margin-top: 50px;
        font-size: 23px;
    }
    .cart-card {
        margin-top: 25px;
    }
    .cart-card img {
        width: 70px;
        height: 120px;
    }
    .cart-card>p {
        font-size: 21px;
    }
    .cart-card div p {
        font-size: 21px;
    }
    .comments {
        bottom: 50px;
    }
    .discussion {
        font-size: 23px;
    }
    .display-comments {
        bottom: 80px;
    }
    .comment-card {
        margin-top: 15px;
    }
    .comment-card img {
        width: 30px;
        height: 30px;
    }
    .comment-card p {
        font-size: 17px;
    }
    .leaving-comments img {
        width: 30px;
        height: 30px;
    }
    .leaving-comments input {
        font-size: 18px;
    }
    .send-comment {
        /*??????????????????????????????????????????????????????????????? ne povecava velicinu KAO I ZA BOOKMARK-ICON*/
        font-size: 25px;
    }
}

@media screen and (min-width: 870px) {
    header p {
        font-size: 28px;
    }
    header input {
        margin-top: -2px;
    }
    i.fa-search {
        top: 50px;
        font-size: 24px;
    }
    .last-viewed p {
        font-size: 19px;
    }
    .container {
        padding-top: 30px;
    }
    div.book-card-grid:nth-child(3n-2) {
        float: left;
        margin-left: 80px;
        margin-right: 0;
        margin-top: 40px;
    }
    div.book-card-grid:nth-child(3n-1) {
        float: left;
        margin-left: 3vw;
        margin-right: 0;
        margin-top: 40px;
    }
    div.book-card-grid:nth-child(3n) {
        float: left;
        margin-left: 3vw;
        margin-right: 0;
        margin-top: 40px;
    }
}

/*================================================(MIN-WIDTH: 992PX)=============================================================*/

@media screen and (min-width: 992px) {
    .info {
        display: block;
        position: absolute;
        top: 14vh;
        left: 0;
        width: 14.7vw;
        height: 86vh;
        background-color: #15150f;
        padding-top: 6vh;
        padding-left: 1.5vw;
    }
    .info p {
        font-size: 0.9vw;
    }
    .info ul {
        margin-top: 1vw;
    }
    .info ul li {
        padding: 1vh 0.6vw;
        font-size: 1vw;
    }
    #titleBookmarks {
        margin-top: 2.5vw;
    }
    .bookmarks-wrapper {
        margin-top: 1.7vh;
        border: 1px solid yellow;
        height: 70%;
        width: 12.5vw;
    }
    .bookmarks-card {
        margin: 0.6vw 0;
    }
    p.bookmarks-title {
        font-size: 0.8vw;
    }
    p.bookmarks-author {
        font-size: 0.7vw;
    }
    header {
        position: fixed;
        top: 0;
        left: 18.5vw;
        width: 55.9vw;
        height: 14vh;
        max-height: 200px;
        /* padding: 2vh 0; */
        /* border: 1px solid black; */
        background-color: #fcfcfb;
    }
    header p {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: calc(1.7vw + 1.7vh);
        margin-top: 0%;
        /* margin-bottom: 3%; */
        color: black;
    }
    i.list {
        display: block;
        position: absolute;
        top: 50%;
        left: 44%;
        margin-left: 0;
        transform: translate(0, -50%);
        font-size: 1.4vw;
        color: #55ac98;
    }
    i.grid {
        display: block;
        position: absolute;
        top: 50%;
        left: 48%;
        margin-left: 0;
        transform: translate(0, -50%);
        font-size: 1.4vw;
        color: #55ac98;
    }
    header input {
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(0, -50%);
        width: 18.8vw;
        padding-bottom: 0.2%;
        font-size: 1.1vw;
        border-bottom: 1px solid #e1e7e5;
        background-color: #fcfcfb;
        color: #55ac98;
    }
    i.fa-search {
        position: absolute;
        top: 50%;
        left: 97%;
        transform: translate(0, -50%);
        font-size: 1.4vw;
        margin-left: 0;
        color: #dce2e0;
    }
    .container {
        position: absolute;
        top: 14vh;
        left: 18.5vw;
        width: 55.9vw;
        padding-top: 2%;
    }

    div.book-card-grid:nth-child(4n - 3) {
        float: left;
        width: 8.3vw;
        height: 16vw;
        margin-bottom: 5vh;
        margin-left: 0;
        position: relative;
    }
    .book-card-info {
        position: absolute;
        top: 0;
        left: 120%;
        width: 220%;
        color: white;
        background-color: black;
        opacity: 0.8;
        padding: 20%;
        font-size: 0.9vw;
    }
    .book-card-info::before {
        content: " ";
        position: absolute;
        top: 10px;
        left: -10px;
        width: 0;
        height: 0;
        z-index: 2;
        border-top: 10px solid transparent;
        border-right: 10px solid black;
        border-bottom: 10px solid transparent;
    }
    .book-info-title {
        text-decoration: none;
        font-weight: bold;
        color: #e9c95a;
        text-transform: uppercase;
    }
    .book-info-author {
        color: #4c5b6c;
    }
    .book-info-summary {
        text-transform: uppercase;
        color: #4d5561;
        margin-top: 6%;
    }
    .book-info-rating {
        text-transform: uppercase;
        color: #4c5b6c;
        margin-top: 6%;
    }
    .star-wrapper i:nth-of-type(1),
    .star-wrapper i:nth-of-type(2),
    .star-wrapper i:nth-of-type(3) {
        color: yellow;
        cursor: none;
    }
    .price-wrapper {
        width: inherit;
        padding: 1.2%;
        overflow: hidden;
    }
    .book-price-grid {
        float: left;
        font-size: 1vw;
    }
    .book-cart-grid {
        float: right;
        font-size: 1.4vw;
        margin-top: -2%;
    }
    .book-cart-grid i {
        color: black;
        font-size: 1.4vw;
    }
    div.book-card-grid:nth-child(4n+2) {
        float: left;
        width: 8.3vw;
        height: 16vw;
        margin-bottom: 5vh;
        margin-left: 7.4vw;
        margin-right: 7.4vw;
    }
    div.book-card-grid:nth-child(4n - 1) {
        float: left;
        width: 8.3vw;
        height: 16vw;
        margin-right: 7.4vw;
        margin-left: 0;
    }
    div.book-card-grid:nth-child(4n) {
        float: left;
        width: 8.3vw;
        height: 16vw;
        margin-bottom: 5vh;
        margin-left: 0;
    }
    .book-card-grid img {
        width: 100%;
        height: 82%;
    }
    .book-title-grid {
        font-size: 1vw;
        margin-left: 3%;
        font-size: 1.1vw;
    }
    .book-author-grid {
        margin-top: -2%;
        margin-left: 6%;
        font-size: 0.8vw;
    }
    .book-card-list {
        width: 100%;
        height: 13vw;
        margin-bottom: 6vw;
    }
    .book-card-list img {
        height: 100%;
        width: 15%;
    }
    .book-title-list,
    .book-author-list,
    .book-description-list {
        width: 85%;
    }
    .book-title-list {
        font-size: 1.3vw;
    }
    .book-author-list {
        font-size: 1vw;
    }
    .book-description-list {
        font-size: 1vw;
        margin-top: 4.2vw;
    }
    .last-viewed {
        position: fixed;
        top: 0;
        left: 79%;
        width: 21%;
        height: 22%;
        padding-top: 3vh;
        padding-left: 1.5%;
    }
    .last-viewed p {
        font-size: 1.2vw;
        position: absolute;
        top: 7%;
    }
    .last-viewed a {
        position: absolute;
        top: 25%;
        left: 5%;
        width: 89%;
        height: 70%;
        transform: translate(0, 0);
        font-size: calc(1.2vw + 1.2vh);
        border: 1px solid white;
        overflow: auto;
        line-height: calc(1.2vw + 1.2vh);
        /* margin-top: 2.5%; */
        /* padding-left: 3%; */
        /* display: block; */
    }
    .last-viewed a i {
        font-size: calc(1.2vw + 1.2vh)
    }
    .comments {
        display: block;
        position: fixed;
        top: 28%;
        left: 79%;
        width: 21%;
        max-height: 72%;
        padding-top: 1.3vw;
        background-color: #ddddda;
    }
    .discussion {
        text-transform: uppercase;
        padding-bottom: 0.5vw;
        border-bottom: 1px solid #d3d3d0;
        color: #a6a6a3;
        margin-left: 1.2vw;
        font-size: 1.2vw;
        height: 1.8vw;
    }
    .display-comments {
        margin-top: 1.3vw;
        height: 70%;
        overflow: auto;
        margin-left: 1.3vw;
        border: 1px solid black;
    }
    .comment-card {
        margin-bottom: 1vw;
        padding-left: 0.2vw;
        overflow: hidden;
    }
    .comment-card img {
        border: 1px solid black;
        width: 2vw;
        height: 2vw;
        float: left;
    }
    .comment-card p {
        border: 1px solid black;
        float: left;
        margin-left: 0.4vw;
        width: 16.6vw;
        line-height: calc(0.8vw + 0.9vh);
        word-wrap: break-word;
        font-size: calc(0.7vw + 0.5vh);
    }
    .leaving-comments {
        display: block;
        position: absolute;
        bottom: 0;
        width: 20.7vw;
        height: 3vw;
        background-color: #5c5c5a;
    }
    .leaving-comments img {
        width: 2vw;
        height: 2.2vw;
        position: absolute;
        top: 50%;
        left: 3vw;
        transform: translate(0, -50%);
    }
    .leaving-comments input {
        width: 13vw;
        position: absolute;
        top: 50%;
        left: 5.3vw;
        transform: translate(0, -50%);
        font-size: 1.1vw;
    }
    .login-wrapper {
        position: absolute;
        top: calc(8vw + 12vh);
        left: 50%;
        transform: translate(-50%, 0);
        width: 33%;
        padding: calc(0.8vw + 0.8vh);
        background-color: #33332f;
        z-index: 3;
    }
    .login-wrapper p {
        color: white;
        text-align: center;
        font-size: calc(1vw + 1vh);
        padding-bottom: 0.6%;
        border-bottom: 1px solid white;
    }
    .login-wrapper [type="text"] {
        margin-top: 5%;
        display: block;
        width: 100%;
        padding: 0.7%;
        background-color: white;
    }
    .login-wrapper [type="password"] {
        display: block;
        width: 100%;
        margin-top: 1.5%;
        background-color: white;
        padding: 0.7%;
    }
    .login-wrapper [type="checkbox"] {
        margin-top: 6.7%;
        float: left;
    }
    .checkbox-i {
        font-size: calc(0.7vw + 0.7vh);
        color: white;
        font-style: normal;
        float: left;
        margin-top: 6%;
        margin-left: 0.7%;
    }
    .login-wrapper div {
        float: right;
        padding: 1% 5%;
        background-color: #428bca;
        margin-top: 4.5%;
        color: white;
        cursor: pointer;
    }
    .mobile-icons {
        display: none;
    }
    .info .close,
    .comments .close {
        display: none;
    }
}