* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    position: relative;
    background-color: #fcfcfb;
}

.b {
    width: 20vw;
    height: 12vw;
    background-image: url('../writing.jpeg');
    background-size: cover;
    float: left;
}

.info {
    display: none;
}

.info p {
    color: #33332f;
    text-transform: uppercase;
    font-size: 0.9vw;
}

.info ul {
    margin-top: 1vw;
    list-style-type: none;
}

.info ul li {
    padding: 1vh 0.6vw;
    color: white;
    font-weight: bold;
    font-size: 1.1vw;
}

#white {
    background-color: white;
    color: black;
}

#titleBookmarks {
    margin-top: 5vh;
}

.bookmarks-wrapper {
    margin-top: 1.7vh;
    border: 1px solid white;
    overflow: auto;
    height: 15vw;
    width: 12.5vw;
    overflow: auto;
    word-wrap: break-word;
}

.bookmarks-card {
    margin: 0.6vw 0;
}

.bookmarks-card a {
    text-decoration: none;
}

p.bookmarks-title {
    color: #a0a09d;
    font-size: 0.8vw;
}

p.bookmarks-author {
    color: #5c5c57;
    font-size: 0.7vw;
}

header {
    width: 100%;
    border: 1px solid black;
    z-index: 2;
    background-color: lightblue;
}

header p {
    display: inline-block;
    font-size: 7vw;
    color: white;
    margin-top: 1%;
}

i {
    cursor: pointer;
    color: white;
}

i.list {
    position: absolute;
    top: 30%;
    left: 90%;
    font-size: 3vw;
}

i.grid {
    position: absolute;
    top: 30%;
    left: 95%;
    font-size: 3vw;
}

header input {
    display: inline-block;
    margin-left: 10%;
    width: 72%;
    transform: translate(0, -5px);
    border: none;
    border-bottom: 1px solid #e1e7e5;
    background-color: lightblue;
    font-size: 4vw;
    color: white;
}

i.fa-search {
    font-size: 4vw;
    color: #e1e7e5;
    transform: translate(0, -5px);
}

.container {
    position: absolute;
    top: calc(29vw + 4vh);
    width: 100vw;
    border: 1px solid black;
    overflow: hidden;
}

/* .book-card-grid {
    float: left;
    width: 15%;
    height: 16vw;
    margin-bottom: 5%;
    margin-right: 10%;
    border: 1px solid black;
} */

div.book-card-grid:nth-child(4n - 3) {
    width: 50vw;
    height: 100vw;
    margin-left: 25vw;
    margin-bottom: 8vw;
    position: relative;
}

div.book-card-grid:nth-child(4n+2) {
    width: 50vw;
    height: 100vw;
    margin-left: 25vw;
    margin-bottom: 8vw;
    position: relative;
}

div.book-card-grid:nth-child(4n - 1) {
    width: 50vw;
    height: 100vw;
    margin-left: 25vw;
    margin-bottom: 8vw;
    position: relative;
}

div.book-card-grid:nth-child(4n) {
    width: 50vw;
    height: 100vw;
    margin-left: 25vw;
    margin-bottom: 8vw;
    position: relative;
}

.book-card-grid img {
    display: block;
    width: 100%;
    height: 82%;
}

.book-card-grid a {
    text-decoration: none;
}

.book-title-grid {
    color: rgb(66, 182, 221);
    font-weight: bold;
    word-wrap: break-word;
    font-size: 5vw;
    text-align: center;
}

.book-author-grid {
    margin-top: -2%;
    margin-left: 6%;
    font-size: 4vw;
    color: #7c817f;
    word-wrap: break-word;
    text-align: center;
}

.book-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 94%;
    color: white;
    background-color: black;
    opacity: 0.9;
    padding: 3vw;
    font-size: 3.6vw;
}

.book-info-title {
    text-decoration: none;
    font-weight: bold;
    color: #e9c95a;
    text-transform: uppercase;
}

.book-info-author {
    color: #4c5b6c;
}

.book-info-summary {
    text-transform: uppercase;
    color: #4d5561;
    margin-top: 6%;
}

.book-info-rating {
    text-transform: uppercase;
    color: #4c5b6c;
    margin-top: 6%;
}

.star-wrapper i:nth-of-type(1),
.star-wrapper i:nth-of-type(2),
.star-wrapper i:nth-of-type(3) {
    color: yellow;
    cursor: none;
}

.star-wrapper i:nth-of-type(4),
.start-wrapper i:nth-of-type(5) {
    cursor: none;
}

.price-wrapper {
    width: inherit;
    padding: 1.2%;
    overflow: hidden;
}

.book-price-grid {
    float: left;
    font-size: 6vw;
}

.book-cart-grid {
    float: right;
    font-size: 7vw;
    margin-top: -2%;
}

.book-cart-grid i {
    color: black;
    font-size: 8vw;
}

.book-card-list {
    width: 100%;
    height: 13vw;
    clear: both;
    overflow: hidden;
    margin-bottom: 6vw;
}

.book-card-list img {
    height: 100%;
    width: 15%;
    float: left;
}

.book-card-list a {
    text-decoration: none;
}

.book-title-list,
.book-author-list,
.book-description-list {
    float: left;
    width: 85%;
    text-align: center;
}

.book-title-list {
    font-weight: bold;
    font-size: 1.3vw;
    color: rgb(66, 182, 221);
}

.book-author-list {
    color: rgb(66, 182, 221);
    font-size: 1vw;
    color: #7c817f;
}

.book-description-list {
    font-size: 1vw;
    margin-top: 4.2vw;
    word-wrap: break-word;
}

.last-viewed {
    width: 80vw;
    height: 12vw;
    background-color: #5c5c5a;
    padding-left: 1.5%;
    float: left;
}

.last-viewed p {
    color: #80807e;
    font-size: 3vw;
    /* position: absolute;
    top: 10%; */
}

.last-viewed a {
    display: inline-block;
    margin-left: 1.8%;
    color: #cecec3;
    font-size: 4vw;
    text-decoration: none;
    word-wrap: break-word;
    /* margin-top: 2.5%; */
    /* padding-left: 3%; */
    /* display: block; */
}

.last-viewed a i {
    font-size: 4vw;
    color: #cecec3;
}

.cart-and-login {
    display: none;
    position: fixed;
    top: 22%;
    left: 79%;
    width: 21%;
    height: 4%;
    background-color: #484843;
}

.cart {
    position: absolute;
    top: 50%;
    left: 3vw;
    transform: translate(0, -50%);
    padding: 0.1vw 0.6vw;
    background-color: #bdbdb5;
    border-radius: 5px;
    cursor: pointer;
    width: 5vw;
    height: 2.2vw;
}

.cart p {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.cart img {
    position: absolute;
    right: 0.3vw;
    top: 50%;
    transform: translate(0, -50%);
    width: 1.2vw;
    height: 1.5vw;
    margin-left: 1%;
}

.login {
    position: absolute;
    top: 50%;
    left: 13vw;
    transform: translate(0, -50%);
    background-color: #bdbdb5;
    border-radius: 5px;
    cursor: pointer;
    width: 5vw;
    height: 2.2vw;
}

.login p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    color: white;
    font-weight: bold;
}

.comments {
    position: fixed;
    top: 26%;
    left: 79%;
    width: 21%;
    height: 74%;
    padding-top: 1.3vw;
    background-color: #ddddda;
    display: none;
}

.discussion {
    text-transform: uppercase;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #d3d3d0;
    color: #a6a6a3;
    margin-left: 1.2vw;
    font-size: 1.2vw;
    height: 1.8vw;
}

.display-comments {
    margin-top: 1.3vw;
    height: 25vw;
    overflow: auto;
    margin-left: 1.3vw;
}

.comment-card {
    margin-bottom: 1vw;
    padding-left: 0.2vw;
    overflow: hidden;
}

.comment-card img {
    width: 2vw;
    height: 2vw;
    float: left;
}

.comment-card p {
    float: left;
    margin-left: 0.6vw;
    width: 16.6vw;
    line-height: 1.1vw;
    word-wrap: break-word;
    font-size: 1vw;
}

.leaving-comments {
    position: absolute;
    bottom: 0;
    width: 20.7vw;
    height: 3vw;
    background-color: #5c5c5a;
    display: none;
}

.leaving-comments img {
    width: 2vw;
    height: 2.2vw;
    position: absolute;
    top: 50%;
    left: 3vw;
    transform: translate(0, -50%);
}

.leaving-comments input {
    width: 13vw;
    position: absolute;
    top: 50%;
    left: 5.3vw;
    transform: translate(0, -50%);
    border: none;
    border-bottom: 1px solid #797977;
    background-color: #5c5c5a;
    color: white;
    font-size: 1.1vw;
}

.login-wrapper {
    display: none;
}

/*================================================(MIN-WIDTH: 992PX)=============================================================*/

@media screen and (min-width: 992px) {
    .info {
        display: block;
        position: absolute;
        top: 14vh;
        left: 0;
        width: 14.7vw;
        height: 86vh;
        background-color: #15150f;
        padding-top: 6vh;
        padding-left: 1.5vw;
    }
    .info p {
        font-size: 0.9vw;
    }
    .info ul {
        margin-top: 1vw;
    }
    .info ul li {
        padding: 1vh 0.6vw;
        font-size: 1vw;
    }
    #titleBookmarks {
        margin-top: 2.5vw;
    }
    .bookmarks-wrapper {
        margin-top: 1.7vh;
        border: 1px solid yellow;
        height: 70%;
        width: 12.5vw;
    }
    .bookmarks-card {
        margin: 0.6vw 0;
    }
    p.bookmarks-title {
        font-size: 0.8vw;
    }
    p.bookmarks-author {
        font-size: 0.7vw;
    }
    header {
        position: fixed;
        top: 0;
        left: 18.5vw;
        width: 55.9vw;
        height: 14vh;
        max-height: 200px;
        /* padding: 2vh 0; */
        /* border: 1px solid black; */
        background-color: #fcfcfb;
    }
    header p {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-size: calc(1.7vw + 1.7vh);
        margin-top: 0%;
        /* margin-bottom: 3%; */
        color: black;
    }
    i.list {
        position: absolute;
        top: 50%;
        left: 44%;
        margin-left: 0;
        transform: translate(0, -50%);
        font-size: 1.4vw;
        color: #55ac98;
    }
    i.grid {
        position: absolute;
        top: 50%;
        left: 48%;
        margin-left: 0;
        transform: translate(0, -50%);
        font-size: 1.4vw;
        color: #55ac98;
    }
    header input {
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(0, -50%);
        width: 18.8vw;
        padding-bottom: 0.2%;
        font-size: 1.1vw;
        border-bottom: 1px solid #e1e7e5;
        background-color: #fcfcfb;
        color: #55ac98;
    }
    i.fa-search {
        position: absolute;
        top: 50%;
        left: 97%;
        transform: translate(0, -50%);
        font-size: 1.4vw;
        margin-left: 0;
        color: #dce2e0;
    }
    .container {
        position: absolute;
        top: 14vh;
        left: 18.5vw;
        width: 55.9vw;
        padding-top: 2%;
    }
    /* .book-card-grid {
    float: left;
    width: 15%;
    height: 16vw;
    margin-bottom: 5%;
    margin-right: 10%;
    border: 1px solid black;
} */
    div.book-card-grid:nth-child(4n - 3) {
        float: left;
        width: 8.3vw;
        height: 16vw;
        margin-bottom: 5vh;
        margin-left: 0;
        position: relative;
    }
    .book-card-info {
        position: absolute;
        top: 0;
        left: 120%;
        width: 220%;
        color: white;
        background-color: black;
        opacity: 0.8;
        padding: 20%;
        font-size: 0.9vw;
    }
    .book-card-info::before {
        content: " ";
        position: absolute;
        top: 10px;
        left: -10px;
        width: 0;
        height: 0;
        z-index: 2;
        border-top: 10px solid transparent;
        border-right: 10px solid black;
        border-bottom: 10px solid transparent;
    }
    .book-info-title {
        text-decoration: none;
        font-weight: bold;
        color: #e9c95a;
        text-transform: uppercase;
    }
    .book-info-author {
        color: #4c5b6c;
    }
    .book-info-summary {
        text-transform: uppercase;
        color: #4d5561;
        margin-top: 6%;
    }
    .book-info-rating {
        text-transform: uppercase;
        color: #4c5b6c;
        margin-top: 6%;
    }
    .star-wrapper i:nth-of-type(1),
    .star-wrapper i:nth-of-type(2),
    .star-wrapper i:nth-of-type(3) {
        color: yellow;
        cursor: none;
    }
    .price-wrapper {
        width: inherit;
        padding: 1.2%;
        overflow: hidden;
    }
    .book-price-grid {
        float: left;
        font-size: 1vw;
    }
    .book-cart-grid {
        float: right;
        font-size: 1.4vw;
        margin-top: -2%;
    }
    .book-cart-grid i {
        color: black;
        font-size: 1.4vw;
    }
    div.book-card-grid:nth-child(4n+2) {
        float: left;
        width: 8.3vw;
        height: 16vw;
        margin-bottom: 5vh;
        margin-left: 7.4vw;
        margin-right: 7.4vw;
    }
    div.book-card-grid:nth-child(4n - 1) {
        float: left;
        width: 8.3vw;
        height: 16vw;
        margin-right: 7.4vw;
        margin-left: 0;
    }
    div.book-card-grid:nth-child(4n) {
        float: left;
        width: 8.3vw;
        height: 16vw;
        margin-bottom: 5vh;
        margin-left: 0;
    }
    .book-card-grid img {
        width: 100%;
        height: 82%;
    }
    .book-title-grid {
        font-size: 1vw;
        margin-left: 3%;
        font-size: 1.1vw;
    }
    .book-author-grid {
        margin-top: -2%;
        margin-left: 6%;
        font-size: 0.8vw;
    }
    .book-card-list {
        width: 100%;
        height: 13vw;
        margin-bottom: 6vw;
    }
    .book-card-list img {
        height: 100%;
        width: 15%;
    }
    .book-title-list,
    .book-author-list,
    .book-description-list {
        width: 85%;
    }
    .book-title-list {
        font-size: 1.3vw;
    }
    .book-author-list {
        font-size: 1vw;
    }
    .book-description-list {
        font-size: 1vw;
        margin-top: 4.2vw;
    }
    .last-viewed {
        position: fixed;
        top: 0;
        left: 79%;
        width: 21%;
        height: 22%;
        padding-top: 3vh;
        padding-left: 1.5%;
    }
    .last-viewed p {
        font-size: 1.2vw;
        position: absolute;
        top: 7%;
    }
    .last-viewed a {
        position: absolute;
        top: 25%;
        left: 5%;
        width: 89%;
        height: 70%;
        transform: translate(0, 0);
        font-size: calc(1.2vw + 1.2vh);
        border: 1px solid white;
        overflow: auto;
        line-height: calc(1.2vw + 1.2vh);
        /* margin-top: 2.5%; */
        /* padding-left: 3%; */
        /* display: block; */
    }
    .last-viewed a i {
        font-size: calc(1.2vw + 1.2vh)
    }
    .cart-and-login {
        position: fixed;
        top: 22%;
        left: 79%;
        width: 21%;
        height: 6%;
    }
    .cart {
        position: absolute;
        top: 50%;
        left: 3vw;
        transform: translate(0, -50%);
        padding: 0.1vw 0.6vw;
        border-radius: 5px;
        cursor: pointer;
        width: 5vw;
        height: 2.2vw;
    }
    .cart p {
        display: block;
        color: white;
        font-weight: bold;
        font-size: 1.2vw;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
    .cart i {
        position: absolute;
        right: 0.3vw;
        top: 50%;
        transform: translate(0, -50%);
        width: 1.2vw;
        height: 1.5vw;
        margin-left: 1%;
    }
    .login {
        position: absolute;
        top: 50%;
        left: 13vw;
        transform: translate(0, -50%);
        background-color: #bdbdb5;
        border-radius: 5px;
        cursor: pointer;
        width: 5vw;
        height: 2.2vw;
    }
    .login p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2vw;
        color: white;
        font-weight: bold;
    }
    .comments {
        display: block;
        position: fixed;
        top: 28%;
        left: 79%;
        width: 21%;
        max-height: 72%;
        padding-top: 1.3vw;
        background-color: #ddddda;
    }
    .discussion {
        text-transform: uppercase;
        padding-bottom: 0.5vw;
        border-bottom: 1px solid #d3d3d0;
        color: #a6a6a3;
        margin-left: 1.2vw;
        font-size: 1.2vw;
        height: 1.8vw;
    }
    .display-comments {
        margin-top: 1.3vw;
        height: 70%;
        overflow: auto;
        margin-left: 1.3vw;
        border: 1px solid black;
    }
    .comment-card {
        margin-bottom: 1vw;
        padding-left: 0.2vw;
        overflow: hidden;
    }
    .comment-card img {
        border: 1px solid black;
        width: 2vw;
        height: 2vw;
        float: left;
    }
    .comment-card p {
        border: 1px solid black;
        float: left;
        margin-left: 0.4vw;
        width: 16.6vw;
        line-height: calc(0.8vw + 0.9vh);
        word-wrap: break-word;
        font-size: calc(0.7vw + 0.5vh);
    }
    .leaving-comments {
        display: block;
        position: absolute;
        bottom: 0;
        width: 20.7vw;
        height: 3vw;
        background-color: #5c5c5a;
    }
    .leaving-comments img {
        width: 2vw;
        height: 2.2vw;
        position: absolute;
        top: 50%;
        left: 3vw;
        transform: translate(0, -50%);
    }
    .leaving-comments input {
        width: 13vw;
        position: absolute;
        top: 50%;
        left: 5.3vw;
        transform: translate(0, -50%);
        font-size: 1.1vw;
    }
    .login-wrapper {
        position: absolute;
        top: calc(8vw + 12vh);
        left: 50%;
        transform: translate(-50%, 0);
        width: 33%;
        padding: calc(0.8vw + 0.8vh);
        background-color: #33332f;
        z-index: 3;
    }
    .login-wrapper p {
        color: white;
        text-align: center;
        font-size: calc(1vw + 1vh);
        padding-bottom: 0.6%;
        border-bottom: 1px solid white;
    }
    .login-wrapper [type="text"] {
        margin-top: 5%;
        display: block;
        width: 100%;
        padding: 0.7%;
        background-color: white;
    }
    .login-wrapper [type="password"] {
        display: block;
        width: 100%;
        margin-top: 1.5%;
        background-color: white;
        padding: 0.7%;
    }
    .login-wrapper [type="checkbox"] {
        margin-top: 6.7%;
        float: left;
    }
    .checkbox-i {
        font-size: calc(0.7vw + 0.7vh);
        color: white;
        font-style: normal;
        float: left;
        margin-top: 6%;
        margin-left: 0.7%;
    }
    .login-wrapper div {
        float: right;
        padding: 1% 5%;
        background-color: #428bca;
        margin-top: 4.5%;
        color: white;
        cursor: pointer;
    }
}